{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery.js"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery.easing.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.fittext.js"></script>
<script src="{{ .Site.BaseURL }}js/wow.min.js"></script>
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/creative.js"></script>

<!-- google analytics -->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', '{{ .Site.Params.analyticsCode }}', 'auto');
	ga('send', 'pageview');

</script>

<!-- cookies complaience -->
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.js"></script>
<script>window.cookieconsent.initialise({"palette":{"popup":{"background":"#f05f40","text":"#f2f2f2"},"button":{"background":"#f2f2f2","text":"#222222"}},"theme":"edgeless","content":{"message":"This website uses cookies to ensure you get the best user experience on my website."}});</script>
